.footer{
    width: 100%;
    max-width: 1024px;
    font-size: 12px;
}
.fLists{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.fList{
    list-style: none;
    padding: 0;
    margin-left: 190px;
}
.fListItem{
    margin-bottom: 10px;
    color: #003580;
    cursor: pointer;
}

.ftext{
    margin-left: 180px;
    font-weight: bold;
    font-size: 1rem;
}